---
// This component accepts all standard SVG props like `class`
const { ...props } = Astro.props;
---

<div class="background-silhouette">
	<svg
		xmlns="http://www.w3.org/2000/svg"
		xmlns:xlink="http://www.w3.org/1999/xlink"
		width="1120"
		zoomAndPan="magnify"
		viewBox="0 0 840 839.999992"
		height="1120"
		preserveAspectRatio="xMidYMid meet"
		version="1.2"
	>
		<defs>
			<clipPath id="2442dcf30b">
				<path d="M 269 411 L 319 411 L 319 480 L 269 480 Z M 269 411 "></path>
			</clipPath>
			<clipPath id="bd2a4ea1c2">
				<path
					d="M 329.40625 420.441406 L 307.367188 487.40625 L 261.769531 472.402344 L 283.8125 405.4375 Z M 329.40625 420.441406 "
				></path>
			</clipPath>
			<clipPath id="fc45723595">
				<path
					d="M 329.40625 420.441406 L 307.367188 487.40625 L 261.769531 472.402344 L 283.8125 405.4375 Z M 329.40625 420.441406 "
				></path>
			</clipPath>
			<clipPath id="977e3337f3">
				<path d="M 325 428 L 366 428 L 366 485 L 325 485 Z M 325 428 "></path>
			</clipPath>
			<clipPath id="9e7b342bfe">
				<path
					d="M 369.171875 431.175781 L 361.460938 487.652344 L 322.820312 482.375 L 330.53125 425.898438 Z M 369.171875 431.175781 "
				></path>
			</clipPath><clipPath id="4a4d30a512">
				<path
					d="M 369.171875 431.175781 L 361.460938 487.652344 L 322.820312 482.375 L 330.53125 425.898438 Z M 369.171875 431.175781 "
				></path>
			</clipPath>
			<clipPath id="2565b438c6">
				<path d="M 440 457 L 506 457 L 506 509 L 440 509 Z M 440 457 "></path>
			</clipPath>
			<clipPath id="c7af641a8d">
				<path
					d="M 515.574219 489.601562 L 453.867188 522.117188 L 431.839844 480.3125 L 493.546875 447.800781 Z M 515.574219 489.601562 "
				></path>
			</clipPath>
			<clipPath id="7b17a77939">
				<path
					d="M 515.574219 489.601562 L 453.867188 522.117188 L 431.839844 480.3125 L 493.546875 447.800781 Z M 515.574219 489.601562 "
				></path>
			</clipPath>
			<clipPath id="d9d7f4c0ca">
				<path d="M 291 340 L 323 340 L 323 379 L 291 379 Z M 291 340 "></path>
			</clipPath>
			<clipPath id="d501acff91">
				<path
					d="M 304.007812 385.394531 L 283.746094 349.460938 L 308.570312 335.464844 L 328.832031 371.394531 Z M 304.007812 385.394531 "
				></path>
			</clipPath>
			<clipPath id="0cc050aca8">
				<path
					d="M 304.007812 385.394531 L 283.746094 349.460938 L 308.570312 335.464844 L 328.832031 371.394531 Z M 304.007812 385.394531 "
				></path>
			</clipPath>
			<clipPath id="21443ed0f4">
				<path d="M 344 284 L 376 284 L 376 321 L 344 321 Z M 344 284 "></path>
			</clipPath>
			<clipPath id="46915fbd35">
				<path
					d="M 335.300781 309.140625 L 360 276.105469 L 382.824219 293.171875 L 358.125 326.207031 Z M 335.300781 309.140625 "
				></path>
			</clipPath>
			<clipPath id="c32cbc64b5">
				<path
					d="M 335.300781 309.140625 L 360 276.105469 L 382.824219 293.171875 L 358.125 326.207031 Z M 335.300781 309.140625 "
				></path>
			</clipPath>
			<clipPath id="58a1b0049a">
				<path d="M 360 271 L 443 271 L 443 329 L 360 329 Z M 360 271 "></path>
			</clipPath>
			<clipPath id="73f44d2961">
				<path
					d="M 364.429688 266.71875 L 447.09375 276.582031 L 440.425781 332.4375 L 357.761719 322.570312 Z M 364.429688 266.71875 "
				></path>
			</clipPath>
			<clipPath id="819ea44d6c">
				<path
					d="M 364.429688 266.71875 L 447.09375 276.582031 L 440.425781 332.4375 L 357.761719 322.570312 Z M 364.429688 266.71875 "
				></path>
			</clipPath>
			<clipPath id="9bc7ec82da">
				<path d="M 369 261 L 398 261 L 398 284 L 369 284 Z M 369 261 "></path>
			</clipPath>
			<clipPath id="8f2ea9dad1">
				<path
					d="M 364.25 270.238281 L 390.96875 255.019531 L 401.363281 273.265625 L 374.640625 288.484375 Z M 364.25 270.238281 "
				></path>
			</clipPath>
			<clipPath id="712e82ecd7">
				<path
					d="M 364.25 270.238281 L 390.96875 255.019531 L 401.363281 273.265625 L 374.640625 288.484375 Z M 364.25 270.238281 "
				></path>
			</clipPath>
		</defs>
		<g id="09d45932f4">
			<path
				style=" stroke:none;fill-rule:nonzero;fill:#010101;fill-opacity:1;"
				d="M 387.960938 262.585938 C 384.566406 263.636719 380.46875 266.621094 378.070312 269.78125 C 376.082031 272.355469 374.792969 275.808594 373.972656 280.550781 L 373.566406 282.65625 L 376.785156 282.363281 C 383.164062 281.835938 390.242188 285.230469 393.578125 290.382812 C 395.21875 292.898438 395.804688 293.367188 397.324219 293.367188 C 401.539062 293.367188 405.285156 295.355469 402.472656 296.117188 C 400.71875 296.527344 399.605469 299.160156 398.847656 304.542969 C 397.851562 311.15625 398.613281 315.78125 401.480469 320.402344 C 403.46875 323.5625 403.527344 323.855469 402.707031 325.378906 C 401.363281 328.011719 398.320312 331.992188 397.675781 331.992188 C 397.324219 331.992188 396.503906 330.761719 395.917969 329.296875 C 394.28125 325.613281 392.644531 323.386719 390.007812 321.457031 L 387.785156 319.875 L 390.59375 318.0625 C 392.410156 316.949219 394.046875 315.3125 395.101562 313.496094 C 396.679688 310.863281 396.796875 310.046875 397.03125 303.726562 L 397.207031 296.820312 L 395.160156 297.171875 C 393.167969 297.578125 393.167969 297.519531 392.757812 295.179688 C 392.292969 292.3125 389.308594 288.742188 385.503906 286.519531 C 383.394531 285.230469 381.875 284.878906 378.011719 284.707031 C 373.507812 284.472656 373.097656 284.53125 371.808594 285.875 C 370.753906 286.871094 369.996094 287.164062 368.941406 286.871094 C 364.609375 285.640625 358.40625 286.988281 355.363281 289.738281 C 353.199219 291.667969 351.792969 295.238281 351.851562 298.632812 C 351.910156 301.148438 351.617188 302.144531 350.683594 303.199219 C 349.746094 304.191406 349.394531 305.539062 349.21875 308.289062 C 348.984375 311.566406 349.21875 312.503906 350.859375 316.132812 C 352.671875 320.109375 353.433594 320.988281 353.902344 319.699219 C 354.195312 318.824219 359.8125 317.945312 362.035156 318.472656 C 363.148438 318.765625 366.074219 319.816406 368.648438 320.871094 C 372.628906 322.453125 373.683594 322.6875 376.550781 322.394531 C 382.753906 321.691406 383.453125 321.75 385.914062 323.445312 C 390.007812 326.3125 392.292969 330.761719 393.578125 338.546875 C 394.574219 344.457031 394.984375 372.839844 394.222656 380.09375 C 392.992188 391.15625 390.886719 396.011719 384.273438 402.449219 C 379.769531 406.898438 379.359375 406.957031 377.308594 403.152344 C 376.550781 401.691406 376.375 400.167969 376.550781 395.777344 C 377.074219 384.601562 376.785156 379.859375 375.496094 376.234375 C 374.792969 374.300781 374.265625 372.429688 374.265625 372.078125 C 374.265625 371.667969 375.378906 371.082031 376.785156 370.730469 C 380.292969 369.855469 383.804688 367.105469 385.796875 363.769531 C 387.316406 361.132812 387.433594 360.550781 387.433594 354.519531 C 387.433594 346.386719 386.324219 342.933594 382.519531 339.011719 C 378.832031 335.152344 375.027344 334.097656 371.046875 335.734375 L 369 336.613281 L 369 333.511719 C 369 329.179688 366.71875 324.851562 363.5 322.917969 C 360.222656 320.988281 356.769531 320.988281 354.546875 322.859375 L 352.964844 324.265625 L 349.863281 321.632812 C 346.410156 318.648438 343.308594 317.359375 340.675781 317.710938 C 337.691406 318.121094 333.945312 319.699219 333.066406 320.929688 C 332.308594 322.101562 332.25 322.042969 330.960938 320.34375 C 329.4375 318.179688 325.578125 315.839844 322.710938 315.3125 C 320.074219 314.84375 316.390625 315.78125 314.632812 317.417969 C 313.753906 318.238281 312.351562 318.707031 310.476562 318.824219 C 307.667969 319.058594 304.042969 320.519531 301.054688 322.804688 C 297.253906 325.554688 294.09375 332.398438 294.09375 337.667969 C 294.09375 340.007812 295.671875 344.808594 296.902344 346.210938 C 297.71875 347.148438 297.664062 347.324219 296.550781 348.550781 C 294.617188 350.601562 293.507812 353.878906 293.507812 357.738281 C 293.507812 361.542969 294.09375 363.125 297.429688 367.980469 L 299.476562 370.90625 L 305.679688 370.964844 C 313.230469 371.023438 317.851562 372.488281 320.074219 375.472656 C 321.832031 377.871094 322.300781 379.277344 321.539062 379.746094 C 320.25 380.503906 318.671875 385.011719 318.671875 388.054688 C 318.671875 391.917969 320.132812 394.960938 323.410156 397.769531 C 326.628906 400.460938 329.03125 401.222656 333.769531 400.929688 C 338.042969 400.695312 341.085938 399.171875 343.015625 396.304688 L 344.011719 394.785156 L 348.808594 398.414062 C 355.128906 403.210938 359.109375 404.734375 365.195312 404.792969 C 367.769531 404.792969 370.695312 404.617188 371.691406 404.324219 C 373.390625 403.914062 373.625 404.03125 375.320312 406.371094 C 376.375 407.777344 377.191406 409.003906 377.191406 409.179688 C 377.191406 409.414062 375.789062 411.054688 374.089844 412.925781 L 371.046875 416.320312 L 367.535156 414.855469 C 358.992188 411.347656 347.640625 410.703125 334.589844 413.042969 C 329.847656 413.863281 328.972656 413.863281 328.152344 413.160156 C 319.785156 406.078125 316.039062 403.738281 309.777344 401.691406 C 307.144531 400.8125 307.027344 400.34375 309.015625 399.054688 C 312.527344 396.714844 314.398438 388.933594 312.585938 383.78125 C 312.117188 382.261719 311.003906 380.09375 310.1875 378.984375 C 308.195312 376.410156 303.28125 373.949219 300.121094 373.949219 C 298.714844 373.949219 297.605469 373.714844 297.605469 373.425781 C 297.605469 372.371094 293.039062 368.039062 290.875 367.046875 C 282.328125 363.125 269.511719 370.03125 269.511719 378.515625 C 269.511719 380.445312 269.394531 380.5625 267.464844 380.5625 C 265.125 380.5625 261.613281 381.851562 259.972656 383.371094 C 258.21875 384.953125 256.578125 388.582031 256.230469 391.683594 C 254.941406 402.625 266.585938 411.695312 278.644531 409.238281 C 283.03125 408.304688 285.195312 407.191406 286.015625 405.433594 C 286.601562 404.148438 286.777344 404.089844 288.183594 404.792969 C 290.933594 406.195312 295.261719 406.429688 300.179688 405.433594 C 302.871094 404.851562 305.679688 404.617188 306.910156 404.851562 C 311.648438 405.726562 322.066406 411.695312 323.820312 414.507812 C 324.640625 415.851562 325.167969 415.5 317.792969 418.25 C 315.863281 419.011719 313.871094 419.773438 313.347656 420.007812 C 312.585938 420.359375 312.058594 419.773438 311.0625 417.785156 C 306.207031 407.71875 288.707031 406.195312 283.734375 415.324219 C 283.148438 416.4375 283.03125 416.4375 280.925781 415.441406 C 275.890625 413.042969 267.933594 416.671875 264.773438 422.816406 C 262.257812 427.730469 264.011719 435.632812 268.402344 439.320312 C 272.4375 442.773438 279.34375 443.941406 282.5625 441.835938 C 283.792969 441.074219 284.203125 440.957031 284.378906 441.542969 C 284.496094 441.953125 285.078125 443.589844 285.605469 445.113281 C 286.542969 447.6875 286.542969 448.039062 285.664062 448.976562 C 284.496094 450.261719 284.4375 452.777344 285.546875 453.65625 C 286.71875 454.652344 288.472656 453.597656 289.410156 451.375 C 289.996094 450.027344 290.523438 449.617188 291.808594 449.617188 C 293.859375 449.617188 294.269531 450.847656 293.507812 454.886719 C 292.277344 461.324219 288.53125 467.644531 282.445312 473.496094 C 279.402344 476.421875 278.933594 477.066406 280.339844 476.480469 C 286.484375 473.847656 293.566406 467.46875 297.195312 461.324219 L 299.359375 457.519531 L 304.097656 456.875 C 307.726562 456.347656 309.425781 455.765625 311.238281 454.476562 C 313.929688 452.605469 316.914062 447.511719 316.914062 444.9375 C 316.914062 443.765625 317.5 443.007812 319.082031 441.953125 C 322.242188 439.847656 323.527344 437.796875 323.820312 434.167969 C 324.171875 430.015625 323.703125 428.433594 321.539062 425.976562 C 319.492188 423.636719 319.433594 423.636719 325.695312 421.644531 C 335.410156 418.425781 345.882812 417.375 353.609375 418.777344 C 359.34375 419.832031 365.664062 422.523438 365.253906 423.695312 C 365.078125 424.160156 363.792969 426.152344 362.386719 428.140625 C 360.984375 430.132812 357.355469 436.21875 354.371094 441.71875 C 343.894531 460.855469 339.621094 467.175781 332.65625 474.199219 C 328.621094 478.292969 329.671875 477.828125 336.8125 472.5 C 346.410156 465.304688 356.300781 453.890625 367.363281 437.328125 C 370.347656 432.882812 373.097656 429.195312 373.449219 429.136719 C 374.5 429.136719 378.1875 433.117188 380.9375 437.328125 C 391.0625 452.546875 400.894531 482.566406 404.40625 508.960938 C 406.160156 521.953125 405.34375 540.152344 402.355469 554.605469 C 399.195312 569.878906 397.089844 585.507812 395.335938 606.457031 C 393.226562 632.03125 391.296875 642.449219 387.140625 651.226562 C 380.292969 665.855469 371.632812 670.597656 344.304688 674.632812 C 330.84375 676.625 328.328125 677.152344 324.816406 678.847656 C 321.773438 680.253906 318.320312 682.945312 318.847656 683.472656 C 318.964844 683.648438 320.25 683.472656 321.65625 683.179688 C 325.753906 682.300781 334.355469 681.421875 348.808594 680.488281 C 377.835938 678.554688 396.679688 675.863281 415.054688 671.121094 C 421.375 669.484375 423.074219 669.191406 424.417969 669.71875 C 425.296875 670.070312 430.566406 671.472656 436.007812 672.878906 C 453.152344 677.269531 467.492188 679.199219 495.992188 681.070312 C 508.28125 681.890625 518.054688 683.0625 520.980469 684.113281 C 522.445312 684.582031 519.050781 681.011719 516.765625 679.609375 C 514.425781 678.144531 509.394531 676.917969 501.257812 675.804688 C 480.894531 673.054688 468.777344 670.480469 461.347656 667.320312 C 456.078125 665.152344 449.875 661.46875 447.828125 659.300781 C 446.25 657.605469 446.25 657.546875 447.125 655.4375 C 448.238281 652.804688 448.238281 647.539062 447.183594 643.617188 C 446.773438 641.980469 444.902344 636.945312 443.089844 632.324219 C 436.886719 616.757812 433.023438 603.355469 431.324219 591.125 C 430.214844 582.988281 430.214844 569.707031 431.324219 562.566406 C 432.554688 554.898438 432.671875 554.371094 433.726562 554.371094 C 435.070312 554.371094 436.242188 550.976562 437.003906 544.890625 C 437.585938 540.210938 437.527344 538.6875 436.652344 533.949219 C 435.890625 529.558594 433.375 520.605469 431.792969 516.507812 C 431.558594 515.980469 432.554688 515.867188 435.539062 516.15625 C 447.242188 517.09375 461.230469 512.179688 470.652344 503.808594 C 480.367188 495.148438 486.628906 481.335938 487.449219 466.824219 L 487.796875 461.03125 L 486.6875 466.003906 C 482.121094 486.722656 468.835938 501.117188 450.8125 504.863281 C 445.019531 506.09375 440.046875 506.035156 432.320312 504.804688 L 426.175781 503.808594 L 422.488281 496.085938 C 414.414062 479.230469 408.035156 463.3125 405.867188 454.59375 C 404.289062 448.390625 403.996094 437.796875 405.226562 432.648438 C 409.90625 413.277344 427.347656 403.972656 454.734375 406.253906 C 459.183594 406.605469 463.160156 407.191406 463.628906 407.601562 C 464.097656 407.953125 464.390625 408.945312 464.273438 409.765625 C 464.15625 410.996094 463.277344 411.695312 460.175781 413.335938 C 453.269531 416.964844 450.929688 420.242188 450.929688 426.035156 C 450.988281 432.589844 454.675781 437.09375 461.230469 438.558594 C 464.15625 439.203125 464.390625 439.378906 464.742188 441.25 C 465.792969 446.867188 473.460938 450.027344 479.3125 447.335938 C 483.820312 445.289062 486.277344 441.367188 486.980469 435.339844 C 487.507812 430.832031 488.382812 431.828125 488.382812 436.976562 C 488.382812 440.429688 488.617188 441.601562 489.730469 443.179688 C 492.480469 447.277344 499.503906 448.800781 503.132812 446.109375 L 504.828125 444.878906 L 507.050781 446.867188 C 513.078125 452.3125 522.152344 450.964844 526.246094 443.941406 C 528.355469 440.3125 528.472656 435.867188 526.539062 433.234375 L 525.195312 431.417969 L 527.007812 429.3125 C 529.40625 426.5625 529.933594 425.097656 529.933594 420.769531 C 529.933594 417.785156 529.640625 416.671875 528.414062 414.855469 C 526.890625 412.632812 523.378906 410.644531 522.269531 411.347656 C 521.917969 411.519531 520.628906 410.644531 519.398438 409.414062 C 515.246094 405.027344 506.992188 404.382812 501.199219 408.011719 L 498.097656 409.941406 L 495.40625 408.652344 C 493.945312 407.953125 490.84375 406.195312 488.441406 404.675781 L 484.113281 402.039062 L 485.808594 400.636719 C 486.746094 399.875 489.4375 398.296875 491.777344 397.125 C 495.40625 395.3125 496.8125 394.960938 500.964844 394.726562 C 507.695312 394.375 513.253906 395.71875 519.109375 399.054688 C 525.195312 402.507812 525.894531 403.210938 528.707031 409.003906 C 532.625 417.140625 537.367188 421.117188 545.03125 422.757812 C 547.785156 423.34375 548.660156 423.226562 552.347656 422.054688 C 559.371094 419.832031 563.933594 413.921875 562.882812 408.535156 C 562.648438 407.25 563 406.605469 564.753906 405.027344 C 567.621094 402.566406 568.558594 400.226562 568.558594 395.605469 C 568.558594 391.097656 566.917969 387.585938 563.699219 385.011719 C 561.886719 383.546875 560.832031 383.195312 557.671875 383.019531 C 554.570312 382.789062 553.578125 382.496094 552.347656 381.324219 C 551.003906 379.917969 550.59375 379.859375 546.4375 380.09375 C 540.234375 380.503906 536.722656 382.144531 532.332031 386.707031 C 529.40625 389.75 528.765625 390.746094 528.765625 392.386719 L 528.765625 394.375 L 524.257812 394.316406 C 521.273438 394.257812 519.050781 393.90625 517.9375 393.320312 C 514.015625 391.214844 509.21875 390.277344 502.722656 390.21875 L 496.285156 390.21875 L 497.921875 388.464844 C 498.859375 387.46875 500.671875 385.1875 502.019531 383.3125 C 503.308594 381.5 504.652344 379.976562 505.003906 379.976562 C 505.414062 379.976562 506.058594 380.914062 506.46875 382.027344 C 508.222656 387 512.554688 389.925781 518.113281 389.925781 C 521.917969 389.925781 524.726562 389.167969 527.125 387.410156 C 529.347656 385.773438 531.691406 381.148438 531.691406 378.339844 C 531.691406 376.117188 531.75 376 533.972656 375.707031 C 541.464844 374.710938 545.675781 368.214844 543.921875 360.199219 C 543.042969 355.984375 540.351562 352.589844 536.136719 350.484375 C 532.976562 348.84375 532.625 348.785156 530.050781 349.488281 C 528.003906 350.015625 527.242188 350.015625 527.125 349.546875 C 526.949219 349.136719 526.070312 347.96875 525.136719 346.914062 C 520.511719 341.589844 511.089844 342.054688 505.53125 347.910156 C 502.957031 350.542969 501.902344 353.292969 502.429688 355.75 C 502.78125 357.214844 502.605469 358.324219 501.667969 360.082031 C 499.914062 363.769531 499.621094 369.738281 501.140625 373.132812 L 502.371094 375.882812 L 499.445312 380.210938 C 496.167969 385.1875 488.851562 392.269531 484.171875 395.078125 C 476.738281 399.464844 470.007812 400.636719 456.839844 399.757812 C 444.726562 398.9375 434.425781 399.464844 427.40625 401.28125 C 410.492188 405.609375 397.675781 417.375 393.285156 432.53125 L 392 436.859375 L 388.898438 432.824219 C 387.140625 430.65625 384.15625 427.207031 382.226562 425.15625 L 378.773438 421.527344 L 381.054688 418.191406 C 384.566406 413.101562 394.398438 403.09375 398.847656 400.167969 C 403.9375 396.773438 410.550781 393.730469 420.207031 390.277344 C 427.929688 387.527344 433.199219 384.894531 435.539062 382.730469 L 436.886719 381.558594 L 440.511719 383.488281 C 445.078125 385.949219 451.164062 386.53125 455.261719 385.011719 L 457.894531 384.015625 L 460.234375 385.714844 C 465.210938 389.339844 472.40625 389.75 476.855469 386.648438 C 479.3125 384.953125 481.59375 381.324219 482.238281 378.046875 C 482.53125 376.585938 482.765625 376.46875 485.339844 376.46875 C 489.027344 376.410156 492.363281 374.828125 494.996094 371.726562 C 497.746094 368.566406 498.625 365.699219 498.625 359.789062 C 498.625 355.75 498.390625 354.753906 497.046875 352.355469 C 496.109375 350.894531 494.703125 349.078125 493.886719 348.433594 L 492.304688 347.207031 L 493.945312 347.207031 C 496.226562 347.207031 499.5625 345.15625 501.199219 342.757812 C 503.074219 340.066406 503.484375 335.675781 502.195312 332.285156 C 501.023438 329.296875 497.277344 325.671875 494.878906 325.203125 C 493.359375 324.910156 493.183594 324.558594 492.832031 321.75 C 492.128906 315.429688 488.96875 310.746094 483.761719 308.113281 C 477.792969 305.128906 470.359375 305.070312 468.3125 307.996094 C 467.785156 308.757812 467.316406 308.933594 466.730469 308.523438 C 465.445312 307.761719 461.699219 307.878906 459.53125 308.816406 C 457.308594 309.753906 452.976562 314.433594 452.453125 316.484375 C 452.277344 317.242188 451.808594 318.589844 451.515625 319.410156 L 450.929688 320.929688 L 449.234375 319.644531 C 447.769531 318.53125 446.949219 318.414062 444.023438 318.648438 C 436.710938 319.351562 432.378906 323.738281 431.734375 331.113281 C 431.441406 335.035156 432.4375 337.667969 435.421875 341.238281 L 436.945312 343.050781 L 435.304688 343.460938 C 424.769531 345.976562 420.324219 359.203125 427.40625 366.753906 C 429.042969 368.507812 434.132812 371.199219 435.773438 371.199219 C 439.050781 371.199219 437.585938 375.121094 433.199219 378.164062 C 429.746094 380.503906 427.695312 381.265625 417.046875 384.074219 C 412.070312 385.421875 406.980469 387 405.75 387.644531 C 404.464844 388.289062 403.351562 388.757812 403.234375 388.640625 C 402.882812 388.289062 405.867188 377.8125 408.210938 370.90625 C 411.078125 362.597656 415.523438 353.878906 422.253906 343.402344 C 424.945312 339.1875 427.8125 334.273438 428.574219 332.398438 C 429.980469 328.949219 431.851562 319.234375 431.324219 317.828125 C 431.148438 317.300781 432.90625 316.484375 437.175781 315.078125 C 444.492188 312.679688 447.066406 311.332031 449.292969 308.582031 C 455.671875 300.625 449.585938 286.929688 439.695312 286.929688 C 438.289062 286.929688 436.828125 287.222656 436.417969 287.632812 C 435.832031 288.214844 435.304688 287.925781 433.957031 286.460938 C 433.023438 285.40625 431.441406 284.414062 430.449219 284.238281 C 428.925781 283.886719 428.632812 283.535156 428.339844 281.605469 C 427.523438 276.628906 423.132812 273 418.742188 273.703125 C 416.578125 274.054688 416.519531 273.996094 416.226562 271.949219 C 415.230469 265.804688 409.320312 262.351562 403.292969 264.398438 C 400.601562 265.335938 400.425781 265.335938 399.195312 264.164062 C 396.621094 261.765625 392.527344 261.179688 387.960938 262.585938 Z M 426.585938 312.621094 C 428.691406 316.832031 428.808594 317.476562 428.164062 318.882812 C 427.464844 320.460938 427.464844 320.460938 426.292969 319.292969 C 425.648438 318.707031 424.769531 316.714844 424.304688 314.960938 C 423.367188 311.566406 423.132812 307.175781 423.894531 307.585938 C 424.128906 307.761719 425.355469 309.988281 426.585938 312.621094 Z M 425.765625 326.253906 C 425.765625 329.066406 423.074219 333.863281 416.226562 343.578125 C 410.550781 351.652344 405.574219 359.554688 403.234375 364.117188 C 402.707031 365.171875 402.066406 365.816406 401.773438 365.582031 C 401.011719 364.761719 399.898438 346.855469 400.308594 342.875 C 400.71875 339.246094 402.355469 333.980469 404.699219 328.890625 C 405.691406 326.664062 406.160156 326.136719 406.921875 326.429688 C 409.789062 327.601562 412.363281 328.011719 416.109375 327.777344 C 419.621094 327.601562 420.675781 327.308594 422.3125 326.019531 C 425.003906 323.914062 425.765625 323.972656 425.765625 326.253906 Z M 451.75 374.476562 C 451.984375 375.296875 452.859375 376.992188 453.679688 378.28125 C 454.5 379.570312 455.027344 380.796875 454.792969 380.972656 C 454.558594 381.207031 452.570312 381.5 450.402344 381.617188 C 446.367188 381.851562 439.8125 380.503906 439.8125 379.453125 C 439.8125 379.160156 440.453125 377.753906 441.273438 376.410156 C 442.621094 373.949219 442.796875 373.832031 446.074219 373.484375 C 447.945312 373.308594 449.875 373.132812 450.402344 373.074219 C 450.988281 373.015625 451.515625 373.539062 451.75 374.476562 Z M 372.453125 388.582031 C 372.511719 393.789062 372.335938 398.472656 372.160156 398.996094 C 371.632812 400.285156 368.824219 401.632812 366.484375 401.632812 C 361.917969 401.632812 355.304688 398.414062 348.691406 393.027344 C 346.234375 390.980469 346.234375 390.980469 347.230469 389.457031 C 347.757812 388.640625 348.34375 386.589844 348.515625 385.011719 L 348.808594 382.027344 L 353.082031 386.007812 C 357.765625 390.277344 358.933594 390.804688 362.914062 390.335938 C 367.769531 389.808594 370.753906 386.179688 370.753906 380.738281 C 370.753906 379.746094 370.929688 378.457031 371.164062 377.871094 C 371.984375 375.648438 372.453125 379.160156 372.453125 388.582031 Z M 528.003906 397.066406 C 528.9375 398.238281 529.40625 401.808594 528.765625 402.800781 C 528.355469 403.503906 527.652344 403.035156 525.371094 400.460938 L 522.445312 397.242188 L 524.023438 396.890625 C 526.539062 396.246094 527.417969 396.304688 528.003906 397.066406 Z M 484.519531 407.71875 C 486.804688 408.828125 489.320312 410.410156 490.023438 411.171875 L 491.367188 412.574219 L 489.261719 415.675781 C 488.148438 417.316406 487.214844 419.011719 487.214844 419.363281 C 487.214844 419.65625 486.453125 418.894531 485.515625 417.667969 C 481.246094 411.695312 474.574219 409.003906 469.539062 411.230469 C 468.71875 411.578125 468.371094 411.347656 467.902344 410.117188 C 467.082031 407.953125 467.550781 407.484375 470.476562 407.484375 C 472.230469 407.484375 473.519531 407.074219 474.398438 406.3125 C 476.328125 404.675781 479.253906 405.085938 484.519531 407.71875 Z M 484.519531 407.71875 "
			></path>
			<g clip-rule="nonzero" clip-path="url(#2442dcf30b)">
				<g clip-rule="nonzero" clip-path="url(#bd2a4ea1c2)">
					<g clip-rule="nonzero" clip-path="url(#fc45723595)">
						<path
							style=" stroke:none;fill-rule:nonzero;fill:#010101;fill-opacity:1;"
							d="M 298.027344 470.417969 C 298.214844 469.859375 298.355469 469.296875 298.457031 468.738281 C 306.960938 469.226562 315.070312 464 317.855469 455.527344 C 320.257812 448.234375 318.058594 440.539062 312.855469 435.570312 C 313.429688 434.589844 313.914062 433.542969 314.285156 432.421875 C 317.054688 424.003906 312.476562 414.929688 304.054688 412.160156 C 295.636719 409.386719 286.5625 413.96875 283.789062 422.386719 C 283.410156 423.546875 283.175781 424.71875 283.058594 425.886719 C 279.871094 426.386719 277.070312 428.609375 275.996094 431.882812 C 275.125 434.527344 275.566406 437.289062 276.964844 439.460938 C 273.957031 440.554688 271.460938 442.960938 270.382812 446.234375 C 268.800781 451.046875 270.789062 456.171875 274.894531 458.75 C 274.160156 459.789062 273.570312 460.949219 273.152344 462.222656 C 270.890625 469.09375 274.625 476.5 281.5 478.761719 C 288.375 481.027344 295.777344 477.289062 298.039062 470.414062 Z M 298.027344 470.417969 "
						></path>
					</g>
				</g>
			</g>
			<g clip-rule="nonzero" clip-path="url(#977e3337f3)">
				<g clip-rule="nonzero" clip-path="url(#9e7b342bfe)">
					<g clip-rule="nonzero" clip-path="url(#4a4d30a512)">
						<path
							style=" stroke:none;fill-rule:nonzero;fill:#010101;fill-opacity:1;"
							d="M 351.539062 475.535156 C 351.601562 475.066406 351.632812 474.597656 351.632812 474.136719 C 358.46875 473.28125 364.152344 467.933594 365.128906 460.785156 C 365.96875 454.632812 363.09375 448.828125 358.226562 445.640625 C 358.539062 444.777344 358.769531 443.875 358.898438 442.925781 C 359.871094 435.824219 354.894531 429.277344 347.792969 428.304688 C 340.6875 427.335938 334.140625 432.308594 333.171875 439.414062 C 333.035156 440.394531 333.019531 441.359375 333.101562 442.304688 C 330.636719 443.171875 328.738281 445.347656 328.359375 448.109375 C 328.054688 450.34375 328.8125 452.472656 330.242188 453.996094 C 328.011719 455.308594 326.375 457.589844 326 460.351562 C 325.445312 464.410156 327.777344 468.195312 331.425781 469.644531 C 330.992188 470.582031 330.691406 471.589844 330.542969 472.664062 C 329.753906 478.460938 333.808594 483.808594 339.613281 484.601562 C 345.414062 485.390625 350.753906 481.335938 351.546875 475.53125 Z M 351.539062 475.535156 "
						></path>
					</g>
				</g>
			</g>
			<g clip-rule="nonzero" clip-path="url(#2565b438c6)">
				<g clip-rule="nonzero" clip-path="url(#c7af641a8d)">
					<g clip-rule="nonzero" clip-path="url(#7b17a77939)">
						<path
							style=" stroke:none;fill-rule:nonzero;fill:#010101;fill-opacity:1;"
							d="M 459.179688 503.539062 C 459.691406 503.269531 460.175781 502.96875 460.632812 502.644531 C 466.316406 508.804688 475.632812 510.648438 483.402344 506.554688 C 490.089844 503.03125 493.796875 496.078125 493.507812 489 C 494.585938 488.699219 495.640625 488.289062 496.671875 487.75 C 504.390625 483.679688 507.351562 474.125 503.285156 466.40625 C 499.214844 458.683594 489.660156 455.722656 481.941406 459.792969 C 480.875 460.351562 479.910156 461.019531 479.027344 461.769531 C 476.429688 459.941406 472.925781 459.601562 469.925781 461.183594 C 467.5 462.460938 465.925781 464.71875 465.433594 467.214844 C 462.554688 465.933594 459.140625 465.929688 456.140625 467.511719 C 451.730469 469.835938 449.632812 474.824219 450.777344 479.460938 C 449.546875 479.691406 448.332031 480.109375 447.167969 480.726562 C 440.867188 484.042969 438.445312 491.84375 441.769531 498.148438 C 445.089844 504.449219 452.886719 506.867188 459.191406 503.542969 Z M 459.179688 503.539062 "
						></path>
					</g>
				</g>
			</g>
			<g clip-rule="nonzero" clip-path="url(#d9d7f4c0ca)">
				<g clip-rule="nonzero" clip-path="url(#d501acff91)">
					<g clip-rule="nonzero" clip-path="url(#0cc050aca8)">
						<path
							style=" stroke:none;fill-rule:nonzero;fill:#010101;fill-opacity:1;"
							d="M 294.765625 352.105469 C 294.933594 352.40625 295.121094 352.6875 295.324219 352.953125 C 291.757812 356.4375 290.820312 362.007812 293.382812 366.554688 C 295.589844 370.46875 299.789062 372.554688 303.988281 372.265625 C 304.1875 372.898438 304.449219 373.519531 304.789062 374.121094 C 307.335938 378.640625 313.066406 380.242188 317.585938 377.691406 C 322.105469 375.144531 323.703125 369.410156 321.15625 364.890625 C 320.804688 364.269531 320.390625 363.707031 319.929688 363.195312 C 320.972656 361.617188 321.113281 359.53125 320.125 357.777344 C 319.324219 356.355469 317.953125 355.457031 316.460938 355.207031 C 317.175781 353.472656 317.121094 351.445312 316.128906 349.6875 C 314.671875 347.105469 311.671875 345.941406 308.9375 346.703125 C 308.777344 345.976562 308.507812 345.261719 308.121094 344.578125 C 306.042969 340.890625 301.367188 339.582031 297.675781 341.664062 C 293.984375 343.746094 292.679688 348.421875 294.761719 352.113281 Z M 294.765625 352.105469 "
						></path>
					</g>
				</g>
			</g>
			<g clip-rule="nonzero" clip-path="url(#21443ed0f4)">
				<g clip-rule="nonzero" clip-path="url(#46915fbd35)">
					<g clip-rule="nonzero" clip-path="url(#c32cbc64b5)">
						<path
							style=" stroke:none;fill-rule:nonzero;fill:#010101;fill-opacity:1;"
							d="M 362.027344 287.253906 C 361.820312 287.53125 361.636719 287.816406 361.476562 288.105469 C 356.851562 286.25 351.375 287.636719 348.25 291.820312 C 345.558594 295.417969 345.34375 300.101562 347.304688 303.828125 C 346.804688 304.261719 346.339844 304.753906 345.925781 305.308594 C 342.820312 309.460938 343.667969 315.351562 347.824219 318.457031 C 351.980469 321.566406 357.867188 320.714844 360.976562 316.558594 C 361.402344 315.988281 361.753906 315.382812 362.035156 314.753906 C 363.898438 315.070312 365.863281 314.359375 367.070312 312.746094 C 368.046875 311.4375 368.316406 309.824219 367.945312 308.359375 C 369.816406 308.3125 371.652344 307.441406 372.859375 305.828125 C 374.636719 303.453125 374.488281 300.238281 372.6875 298.039062 C 373.289062 297.601562 373.835938 297.066406 374.304688 296.4375 C 376.839844 293.046875 376.148438 288.242188 372.753906 285.703125 C 369.363281 283.167969 364.558594 283.859375 362.019531 287.253906 Z M 362.027344 287.253906 "
						></path>
					</g>
				</g>
			</g>
			<g clip-rule="nonzero" clip-path="url(#58a1b0049a)">
				<g clip-rule="nonzero" clip-path="url(#73f44d2961)">
					<g clip-rule="nonzero" clip-path="url(#819ea44d6c)">
						<path
							style=" stroke:none;fill-rule:nonzero;fill:#010101;fill-opacity:1;"
							d="M 429.117188 291.171875 C 428.433594 291.089844 427.753906 291.058594 427.089844 291.070312 C 425.679688 281.1875 417.796875 273.085938 407.417969 271.847656 C 398.484375 270.78125 390.152344 275.089844 385.648438 282.21875 C 384.390625 281.785156 383.078125 281.472656 381.703125 281.308594 C 371.390625 280.078125 362.027344 287.441406 360.796875 297.757812 C 359.566406 308.070312 366.933594 317.433594 377.246094 318.664062 C 378.667969 318.832031 380.066406 318.832031 381.4375 318.691406 C 382.75 322.242188 385.949219 324.9375 389.960938 325.417969 C 393.203125 325.804688 396.269531 324.65625 398.441406 322.542969 C 400.394531 325.746094 403.738281 328.058594 407.746094 328.535156 C 413.640625 329.238281 419.070312 325.765625 421.078125 320.449219 C 422.445312 321.054688 423.914062 321.464844 425.472656 321.648438 C 433.890625 322.65625 441.53125 316.648438 442.539062 308.222656 C 443.542969 299.800781 437.535156 292.164062 429.113281 291.160156 Z M 429.117188 291.171875 "
						></path>
					</g>
				</g>
			</g>
			<g clip-rule="nonzero" clip-path="url(#9bc7ec82da)">
				<g clip-rule="nonzero" clip-path="url(#8f2ea9dad1)">
					<g clip-rule="nonzero" clip-path="url(#712e82ecd7)">
						<path
							style=" stroke:none;fill-rule:nonzero;fill:#010101;fill-opacity:1;"
							d="M 389.03125 263.242188 C 388.808594 263.367188 388.597656 263.507812 388.402344 263.660156 C 385.792969 261.011719 381.640625 260.332031 378.257812 262.257812 C 375.347656 263.914062 373.808594 267.050781 374.039062 270.179688 C 373.566406 270.328125 373.101562 270.523438 372.65625 270.78125 C 369.292969 272.695312 368.121094 276.96875 370.035156 280.332031 C 371.949219 283.691406 376.226562 284.863281 379.585938 282.949219 C 380.046875 282.6875 380.46875 282.375 380.847656 282.03125 C 382.023438 282.804688 383.582031 282.902344 384.886719 282.160156 C 385.941406 281.558594 386.605469 280.535156 386.789062 279.421875 C 388.082031 279.949219 389.59375 279.898438 390.902344 279.15625 C 392.820312 278.0625 393.679688 275.820312 393.101562 273.785156 C 393.644531 273.664062 394.175781 273.460938 394.683594 273.171875 C 397.425781 271.609375 398.386719 268.121094 396.824219 265.378906 C 395.257812 262.632812 391.769531 261.675781 389.027344 263.238281 Z M 389.03125 263.242188 "
						></path>
					</g>
				</g>
			</g>
		</g>
	</svg>
</div>
