---
// src/pages/about.astro
import Layout from "../layouts/Layout.astro";
import BackgroundAbout from "../components/backgrounds/BackgroundAbout.astro";
import ThemeToggle from "../components/ThemeToggle.astro";
import Footer from "../components/Footer.astro";
import Home from "../components/icons/Home.astro";

const pageTitle = "About Me";
---

<BackgroundAbout />
<Layout title={pageTitle} />
<ThemeToggle />

<main class="mx-auto max-w-2xl px-4 py-8 sm:px-6 lg:px-8">
	<div class="flex items-center mt-12">
		<a href="/" aria-label="Go to Home Page" class="mr-4">
			<Home />
		</a>
		<h1 class="text-4xl sm:text-5xl font-semibold">about</h1>
	</div>

	<hr class="border-gray-700 my-6" />
	<div class="my-4 font-serif">
		<h2 class="text-left text-lg font-regular">improve and growth</h2>
		<h2 class="text-left text-lg font-regular">faster and better</h2>
	</div>

	<div class="text-justify space-y-6">
		<section>
			<p>
				Hello, I'm Parkis. Thanks for visiting. My journey into data wasn't a
				straight line. I studied Philosophy and later worked as a System &
				Network Admin. I always liked tech, but I found the work I love today by
				accident.
			</p>
		</section>

		<section>
			<div class="text-lg font-semibold mb-3 font-serif">
				<p>focus on the work</p>
				<p>that</p>
				<p>gets real impact and value.</p>
			</div>
			<p>
				The change happened when I was a web developer. I enjoyed making things,
				i was building websites, but I couldn't really see if they were helping
				anyone. It was frustrating to create things without knowing their true
				impact. Then I discovered analytics.
			</p>
			<p class="mt-4">
				I start by building dashboards for my servers using netdata and grafana.
				Installing Google Analytics, and creating link tracker: to identify user
				touch point, and seeing the data from our website it showed us that our
				site was slow and costly, and that most of our customers found us on
				social media. It changed everything and the decision was clear: shutdown
				and move on. That experience taught me a lesson that I still use today:
			</p>
		</section>

		<section>
			<div class="text-lg font-semibold font-serif mb-3">
				<p>what</p>
				<p>i do now</p>
			</div>
			<p>
				Now, I help other people find that same kind of clarity. I enjoy taking
				messy data from different places, cleaning it up, and showing it in a
				simple way. It's about helping people see the connection between their
				effort and the outcome.
			</p>
			<p class="mt-4">
				For this, I usually use tools like Python, SQL, QGIS, and AppSheet, and
				I prefer simple, low-code solutions when they fit the job.
			</p>
		</section>

		<section>
			<h2 class="text-lg font-semibold mb-3">Let's Connect</h2>
			<p>
				I'm always learning and enjoy talking with others who are passionate
				about data. If you want to chat about BI, analytics, or just have a
				problem you're trying to solve, feel free to reach out. You can see some
				of my work on my <a
					href="/solution"
					class="font-semibold text-cyan-600 dark:text-cyan-400 hover:underline"
					>solutions page</a
				> or see what's on my mind in my <a
					href="/writing"
					class="font-semibold text-cyan-600 dark:text-cyan-400 hover:underline"
					>writing section</a
				>.
			</p>
		</section>
	</div>
	<Footer />
</main>
