---
// This is the "component script" section.
// You can write JavaScript/TypeScript here to fetch data or define variables.
// For a static page like this, it can be empty.
// Importing icons from lucide-icons

import Layout from "../layouts/Layout.astro";
import BackgroundAbout from "../components/backgrounds/BackgroundAbout.astro";
import ThemeToggle from "../components/ThemeToggle.astro";
import Footer from "../components/Footer.astro";
import Home from "../components/icons/Home.astro";
const pageTitle = "About Me";
---

<BackgroundAbout />
<Layout title={pageTitle} />

<ThemeToggle />
<main class="mx-auto max-w-2xl px-4 py-8 sm:px-6 lg:px-8">
	<!-- Header Section -->
	<div class="flex mt-12">
		<a href="/" aria-label="Go to Home Page">
			<Home />
		</a>
		<h1 class="text-4xl sm:text-5xl font-semibold">about</h1>
	</div>
	<hr class="border-gray-700 my-4" />
	<!-- Personal Info Section -->
	<div class="text-left">
		<h2 class="text-lg font-regular">improve and growth</h2>
		<h2 class="text-lg font-regular">faster and better</h2>
		<div class="my-2 text-regular">
			<h3>Hi, Parkis here thanks for your coming</h3>
			<p class="my-2">
				I am bachelor of Philosophy, that love technology. Start as System and
				Network Administrator, I learn about Networking and configuration with
				tools like Mikrotik and Unifi in the past, Now I work on Business
				Intelligence and Analytics

				<h3 class="text-xl font-semibold my-4">
					Change from Web Developer to Business Intelligence
				</h3>

				<p>
					I used to manage web server using Linux and Openlitespeed, I do SEO
					Optimization too on CMS WordPress and help some project in Digital
					Marketing.In this time where i manage Web Server for SEO Marketing and
					building digital presence I found something interesting about
					Analytics. Its my first time see how things i build measured and have
					impact. Google Analytics Dashboard, and My Server Dashboard, help
					shaping decision - include shutdown our website project... its because
					PHP and WordPress is taking resources a lot, compared to social media
					and digital ads. Its too much to create and maintain digital presence
					using website where actual user or customer found us on Instagram,
					Facebook, and YouTube. I deeply understand, that my work had to be
					impact and valuable
				</p>

				<h3 class="text-xl font-semibold my-4">
					Journey to Business Intelligence and Analytics
				</h3>

				<p>
					I start to learn about Business Intelligence and Analytics, by
					improving my business acumen first. Understanding how business make
					decision help me shape what kind of data I need to collect and how to
					analyze it. Eventually I found that Analytics is not about presenting
					statistical value, its about process engineering and Data Engineering
					like Data Modeling, Data Pipeline, and Data Visualization. As for
					today i stillworking in Analytics field where I help people, business,
					or organization to :
				</p>
			</p>
			<li class="my-2">
				Design right data model from respective business process and their Key
				Performance Indicator
			</li>
			<li>Build data pipeline to collect data from various source</li>
			<li>
				Develop good data practices with efficient tools like AppSheet and
				QField
			</li>

			<li>
				Generate insight and improvement recommendation using Dashboard or
				Report with various tools.
			</li>
		</div>

		<div class="my-2 text-sm">
			<p class="my-2">
				See my solution page to see my past and current work on Business
				Intelligence and Analytics.
			</p>
			<p class="my-2">
				I have so much things to learn, I read when stuck and write when
				overthinking - if you interest, check my digital garden in writing
				section. Its contain my interest and topic im working. Feel free to
				connect with me on social media or email. Maybe we can learn together or
				collaborate on something.
			</p>
		</div>
		<Footer />
	</div>
</main>
