---
// This is the "component script" section.
// You can write JavaScript/TypeScript here to fetch data or define variables.
// For a static page like this, it can be empty.
// Importing icons from lucide-icons

import Layout from "../layouts/Layout.astro";
import BackgroundAbout from "../components/backgrounds/BackgroundAbout.astro";
import ThemeToggle from "../components/ThemeToggle.astro";
import Footer from "../components/Footer.astro";
import Home from "../components/icons/Home.astro";
const pageTitle = "About Me";
---

<BackgroundAbout />
<Layout title={pageTitle} />

<ThemeToggle />
<main class="mx-auto max-w-2xl px-4 py-8 sm:px-6 lg:px-8">
	<!-- Header Section -->
	<div class="flex mt-12">
		<a href="/" aria-label="Go to Home Page">
			<Home />
		</a>
		<h1 class="text-4xl sm:text-5xl font-semibold">about</h1>
	</div>
	<hr class="border-gray-700 my-4" />
	<!-- Personal Info Section -->
	<div class="text-left">
		<h2 class="text-lg font-regular">improve and growth</h2>
		<h2 class="text-lg font-regular">faster and better</h2>
		<div class="my-2 text-sm">
			<h3>Hi, Parkis here thanks for your coming</h3>
			<p class="my-2">
				I am bachelor of Philosophy, that love technology. Start as System and Network Administrator, I see coding as hobby and found enjoyable things on data and business - now working in Analytics field where I 	help people, business, or organization to :
			</p>
			<li>Design right data model from respective business process and their Key Performance Indicator</li>
			<li>Build data pipeline to collect data from various source</li>
			<li>Develop good data practices with efficient tools like AppSheet and QField</li>

			<li>
				Generate insight and improvement recommendation using Dashboard or
				Report with various tools.
			</li>
		</div>

		<div class="my-2 text-sm">
			<p class="my-2">
				See my solution page to see my past and current work on Business Intelligence and Analytics.
			</p>
			<p class="my-2">
				I have so much things to learn, I read when stuck and write when overthinking - if you interest, check my digital garden in writing section. Its contain my interest and topic im working. Feel free to connect with me on social media or email. Maybe we can learn together or collaborate on something.
			</p>
	</div>
<Footer />
</main>

