---
import LinkedIn from "./icons/LinkedIn.astro";
import Mail from "./icons/Mail.astro";
import GitHub from "./icons/GitHub.astro";
---

<footer class="space-x-6 mt-12">
	<!-- Social Links Section -->
	<div class="flex items-center space-x-2 justify">
		<a
			href="https://www.linkedin.com/in/parkisutama"
			aria-label="Visit Parkis Utama's LinkedIn profile"
		>
			<LinkedIn
				class="h-6 w-6 text-gray-400 hover:text-white transition-colors duration-300"
			/>
		</a>
		<a
			href="https://github.com/parkisutama"
			aria-label="Visit Parkis Utama's GitHub profile"
		>
			<GitHub
				class="h-6 w-6 text-gray-400 hover:text-white transition-colors duration-300"
			/>
		</a>
		<a
			href="mailto:parkisutama@gmail.com"
			aria-label="Send an email to Parkis Utama"
		>
			<Mail
				class="h-6 w-6 text-gray-400 hover:text-white transition-colors duration-300"
			/>
		</a>
	</div>
</footer>

<div class="my-4">
	<p class="sm:text-sm font-semibold">
		Business Focus + Good Data Practices = Analytics
	</p>
</div>
