---
import "../styles/global.css";
---

<nav
	class="relative pb-1 group flex flex-wrap justify-center gap-8 text-[clamp(1rem,4vw,1.1rem)]"
>
	<a
		href="/about"
		data-astro-prefetch
		class="font-secondary text-text hover:text-logo transition-colors no-underline underline-hover"
	>
		about
	</a>
	<a
		href="#"
		class="font-secondary text-text hover:text-logo transition-colors no-underline underline-hover"
	>
		writing
	</a>
	<a
		href="/solution"
		class="font-secondary text-text hover:text-logo transition-colors no-underline underline-hover"
	>
		solution
	</a>
</nav>
