---
import "../styles/global.css";
---

<nav class="flex flex-wrap justify-center gap-8 text-[clamp(1rem,4vw,1.1rem)]">
	<a
		href="/about"
		data-astro-prefetch
		class="font-secondary text-text hover:text-logo transition-colors no-underline nav-underline"
	>
		about
	</a>

	<a
		href="#"
		class="font-secondary text-text hover:text-logo transition-colors no-underline nav-underline"
		>writing</a
	>
	<a
		href="#"
		class="font-secondary text-text hover:text-logo transition-colors no-underline nav-underline"
		>solution</a
	>
</nav>
