---
//src/layouts/Layout.astro
import "../styles/global.css";
const { pageTitle } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{pageTitle}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

		<link
			href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
			rel="stylesheet"
		/>
		<!-- <meta name="description" content="Your description here"> -->

		<!-- 👇 Critical: Inline script to prevent theme flashing -->
		<script is:inline>
			const getTheme = () => {
				if (
					typeof localStorage !== "undefined" &&
					localStorage.getItem("theme")
				) {
					return localStorage.getItem("theme");
				}
				if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
					return "dark";
				}
				return "light";
			};

			const theme = getTheme();

			if (theme === "dark") {
				document.documentElement.classList.add("dark");
			} else {
				document.documentElement.classList.remove("dark");
			}
			// Also set a data-theme attribute for our custom variants
			document.documentElement.setAttribute("data-theme", theme);
		</script>
		<!-- End of theme script -->
		<script type="text/partytown" is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-FCB50YLWW1");
		</script>
		<script
			type="text/partytown"
			src="https://www.googletagmanager.com/gtag/js?id=G-FCB50YLWW1"></script>
		<script type="text/partytown" is:inline>
			(function (c, l, a, r, i, t, y) {
				c[a] =
					c[a] ||
					function () {
						(c[a].q = c[a].q || []).push(arguments);
					};
				t = l.createElement(r);
				t.async = 1;
				t.src = "https://www.clarity.ms/tag/" + i;
				y = l.getElementsByTagName(r)[0];
				y.parentNode.insertBefore(t, y);
			})(window, document, "clarity", "script", "sfv5xa20m8");
		</script>
	</head>
	<body
		class="text-text grid min-h-screen place-content-center p-4 text-center transition-colors duration-300 ease-in-out"
	>
		<slot />
	</body>
</html>
